.main-container{
    padding: 5rem 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: #f2f2f2
}

.in-theaters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 7%;
    row-gap: 2rem;
    margin-top: 1rem;
}

.new-movie-btn{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem auto;
    font-size: 1rem;
    font-weight: bold;
    color: #141414;
}