nav{
    width: 100%;

}

.navbar-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin-left: 24px;
    font-weight: bold;
    color: #e4e4e4
}

.navbar-list li:hover{
    color: #fff
}

a{
    text-decoration: none;
    color: #e4e4e4
}